.header{

    height: 100px;
    width: 100%;
    padding: 0 10%;
    border-width: 0.5px;
    border-bottom-style: solid;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position:fixed;
    top:0;
}

.header-container{
    max-height: 80px;
    max-width: 2040px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    -webkit-text-size-adjust: 100%;

}

.logo-image{
    margin-left: 5%;
    width: 70px;
    height: 70px;
    padding-bottom: 0px;
    position: relative;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-text-size-adjust: 100%;
}

nav{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Helvetica Now', sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-size: 18px;
    color: #666;
}

.nav-links li a{
    text-decoration: none;
    color: #666;
    padding: 5px 20px; 
    position: relative;
}
.nav-links li a::after{
    content:'';
    background: #F28C28;
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%
}

.introbox{
    margin: 0px 5%;
    padding-top: 150px;
}

.homepage{
    margin: 75px 5%;
    box-sizing: border-box;
    display: block;
}
.introlayout{ 
    display: flex;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.contentbox{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 495px;
    margin-right: 3%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: center;
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
}
h1{
    font-size: 38px;
    line-height: 44px;
    font-weight: bold;
    margin: 0.67em 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.emoji{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
.greeting{
    margin-top: 0px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    font-family: 'Helvetica Now', sans-serif;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.25px;
    text-transform: none;
 
}
.intro{
    max-width: 100%;
    margin-bottom: 0px;
    font-family: 'Helvetica Now', sans-serif;
    color: #666;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-align: left;
    line-height: 1.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
img{
    vertical-align: middle;
    display: inline-block;
    border: 0;
    overflow: clip;

}
.image{
    -webkit-box-flex: 1;
    height: auto;
    max-width: 400px;
    margin-left: 2%;
    display: flex;
    flex: 1;
    -webkit-box-align: right;
    box-sizing: border-box;

}

.image-placement{
    max-width: 100%;
    -webkit-box-flex: 0;
    flex: 0 auto;
    border-radius: 10px;
    object-fit: cover;
}

.work{
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 100px;
}

.work-section{
    margin-bottom: 5%;
    display: flex;
    max-width: 1040px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.work-section-header{
    display: inline-block;
    width: 1040px;
    height: 70px;
    float: none;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.section-header{
    margin-left: -10px;
    margin-right: -10px;
    display: inline;
    object-fit: contain;
    box-sizing: border-box;
    line-height: 0px;
}

.section-title{
    position: static;
    display: flex;
    height: 70px;
    padding-right: 20px;
    padding-left: 0px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}

.work-heading-1{
    display: inline-block;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 38px;
    line-height: 44px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Helvetica Now', sans-serif;
}

.work-heading-2{
    font-size: 18px;
    position: static;
    display: block;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    clear: none;
    line-height: 70px;
    font-weight: 700;
    flex: 0 auto;
    font-family: 'Helvetica Now', sans-serif;
    color: #272727;
    object-fit: contain;
}

.project-section{
    display: flex;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.project-section-frame{
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.project-card-1{
    min-height: 0px;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -webkit-box-flex: 1;
    flex: 1;
    display: block;
    background-color: #f6f6fe;
    cursor: not-allowed;
    margin-right: 3%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 550px;
    max-width: 495px;
    min-width: 320px;
    align-self: stretch;
    border-color: rgba(0, 0, 0, 0.1);
    color: #272727;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-sizing: border-box;
}

.project-card-1-content{
    max-height: 200px;
    min-height: 165px;
    overflow: visible;
    width: auto;
    height: auto;
    max-width: 415px;
    margin: 40px;
    -webkit-box-flex: 1;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    color: #272727;
}

.card-1-title{
    margin-bottom: 10px;
    font-size: 18px;
    color: #272727;
    font-weight: 900;
    text-align: left;
    margin: 0px;
    font-family: 'Helvetica Now', sans-serif;
    line-height: 30px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
}

.card-1-intro{
    overflow: hidden;
    margin-bottom: 0px;
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 21px;
    color: #272727;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.img-Frog{
    border-radius: 10px;
    height: 250px;
    min-height: 0px;
    overflow: hidden;
    max-height: 400px;
    margin-top: -25px;
    margin-bottom: 40px;
    cursor: pointer;
    object-fit: contain;
    object-position: 50% 50%;
    display: block;
    max-width: 100%;
    width: 692px;
}

.card-1-viewproject{
    margin-top: 10px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    color: #272727;
    font-family: 'Helvetica Now', sans-serif;
}

.view-1{
    margin-right: 0px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0px;
    font-family: 'Fa solid 900', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 0px;
    order: -1;
    color: #272727;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
}

.view-body{
    font-size: 12px;
    margin-right: 30px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 0px;
    order: 1;
    color: #272727;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.view-arrow{
    margin-right: 0px;
    font-family: 'Fa 300', sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-right: 0px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 0px;
    order: 3;
    color: #272727;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    cursor: pointer;
}


.project-card-2{
    min-height: 0px;
    -webkit-box-flex: 1;
    flex: 1;
    margin-right: 0%;
    margin-left: 2%;
    background-color: #f2f6ff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 550px;
    max-width: 495px;
    min-width: 320px;
    border-color: rgba(0, 0, 0, 0.1);
    color: #272727;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 0px;
}

.project-card-2-content{
    max-height: 200px;
    min-height: 165px;
    overflow: visible;
    width: auto;
    height: auto;
    max-width: 415px;
    margin: 40px;
    -webkit-box-flex: 1;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    color: #272727;
}

.card-2-title{
    margin-bottom: 10px;
    font-size: 18px;
    color: #272727;
    font-weight: 900;
    text-align: left;
    margin: 0px;
    font-family: 'Helvetica Now', sans-serif;
    line-height: 30px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
}

.card-2-intro{
    overflow: hidden;
    margin-bottom: 0px;
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 21px;
    color: #272727;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.img-Frog{
    border-radius: 10px;
    height: 250px;
    min-height: 0px;
    overflow: hidden;
    max-height: 400px;
    margin-top: -25px;
    margin-bottom: 40px;
    cursor: pointer;
    object-fit: contain;
    object-position: 50% 50%;
    display: block;
    max-width: 100%;
    width: 692px;
}

.card-2-viewproject{
    margin-top: 10px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    color: #272727;
    font-family: 'Helvetica Now', sans-serif;
}
.project-card-3{
    min-height: 0px;
    -webkit-box-flex: 1;
    flex: 1;
    margin-right: 0%;
    margin-left: 2%;
    background-color: #fbf4f4;#fbf4f4
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 550px;
    max-width: 495px;
    min-width: 320px;
    border-color: rgba(0, 0, 0, 0.1);
    color: #272727;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 0px;
}

.view-2{
    margin-right: 0px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0px;
    font-family: 'Fa solid 900', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 0px;
    order: -1;
    color: #272727;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
}

.view-body-2{
    font-size: 12px;
    margin-right: 30px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 0px;
    order: 1;
    color: #272727;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.view-arrow-2{
    margin-right: 0px;
    font-family: 'Fa 300', sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-right: 0px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 0px;
    order: 3;
    color: #272727;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    cursor: pointer;
}

.about{
    margin-right: 5%;
    margin-bottom: 75px;
    margin-left: 5%;
    padding-top:100px;
}

.about-layout{
    margin-bottom: 5%;
    display: flex;
    max-width: 1040px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.about-layout-section{
    display: inline-block;
    width: 1040px;
    height: 70px;
    float: none;
    border-bottom: 1px solid #e1e1e1;
    object-fit: fill;
    box-sizing: border-box;
}

.about-layout-section-frame{
    margin-left: -10px;
    margin-right: -10px;
    display: inline;
    object-fit: contain;
    box-sizing: border-box;
    line-height: 0px;
}

.a-b-s-f-left{
    display: flex;
    height: 70px;
    padding-right: 20px;
    padding-left: 0px;
    -webkit-box-align: center;
    align-items: center;
    width: 75%;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}

.computerman{
    display: inline-block;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 38px;
    line-height: 44px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Helvetica Now', sans-serif;
}

.about-heading{
    font-size: 18px;
    position: static;
    display: block;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    clear: none;
    line-height: 70px;
    font-weight: 700;
    flex: 0 auto;
    font-family: 'Helvetica Now', sans-serif;
    color: #272727;
    object-fit: contain;
}

.a-b-s-f-right{
    display: flex;
    padding-right: 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    align-items: baseline;
    width: 25%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    box-sizing: border-box;
}

.linkedin{
    text-decoration: none;
    max-width: 100%;
    display: inline-block;

    box-sizing: border-box;
    cursor: pointer;
}

.linkedin-link{
    font-size: 14px;
    height: 70px;
    margin-right: 0px;
    font-family: 'Helvetica Now', sans-serif;
    color: #272727;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    white-space: normal;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.linkedin-arow{
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 0px;
    font-family: 'Fa 300', sans-serif;
    font-size: 14px;
    height: 70px;
    color: #272727;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    white-space: normal;
    box-sizing: border-box;
    display: block;
}

.about-content{
    display: flex;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;    
    box-sizing: border-box;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;

    
}

.content-left{
    margin-right: 3%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-self: flex-start;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 495px;
    box-sizing: border-box;
    font-family: 'Helvetica Now', sans-serif;
}

.mystory{
    font-size: 16px;
    overflow: visible;
    width: 100%;
    order: 0;
    color: #666;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
    display: block;
    margin-top: 0px;
    -webkit-box-direction: normal;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.story-paragraph{
    font-size: 14px;
    line-height: 21px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    order: 2;
    color: #272727;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-box-direction: normal;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.content-right{
    width: 100%;
    max-width: 495px;
    -webkit-box-flex: 1;
    flex: 1;
    display: block;
    height: auto;
    margin-left: 2%;
    -webkit-box-pack: end;
    -webkit-box-align: center;
    box-sizing: border-box;
    line-height: 0px;
    font-family: 'Helvetica Now', sans-serif;
}

.extracurriculars{
    font-size: 16px;
    overflow: visible;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #666;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
    display: block;
    font-family: 'Helvetica Now', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.extra-content{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    box-sizing: border-box;
}

.extra-1{
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    line-height: 0px;
}

.heading7{
    display: block;
    margin-top: 0px;
    margin-bottom: 2px;
    color: #999;
    font-weight: 400;
    font-family: 'Helvetica Now', sans-serif;
    box-sizing: border-box;
}

h5{
    line-height: 20px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.extra-bolded-title{
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    color: #272727;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Helvetica Now', sans-serif;
}

.extra-location{
    display: inline;
    margin-left: 20px;
    padding-left: 0px;
    color: #666;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Helvetica Now', sans-serif;
}

.extra-position{
    font-size: 14px;
    line-height: 21px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #272727;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
}

.extra-2{
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    line-height: 0px;
}

.extra-3{
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    line-height: 0px;
}

.extra-4{
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    line-height: 0px;
}

.contact{
    margin-bottom: 0px;
    padding-bottom: 150px;
    margin-right: 5%;
    margin-left: 5%;
    display: block;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    line-height: 0px;
    box-sizing: border-box;
}

.contact-box{
    display: flex;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.contact-left{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 495px;
    margin-right: 3%;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: center;
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.contact-p{
    margin-bottom: 10%;
    padding-bottom: 0%;
    font-size: 16px;
    line-height: 30px;
    max-width: 100%;
    font-family: 'Helvetica Now', sans-serif;
    color: #666;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-top: 0px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.linkedin-button{
    display: flex;
    margin-top: 5%;
    height: 60px;
    padding: 18px 25px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #272727;
    font-family: 'Helvetica Now', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-direction: normal;
}

.contact-right{
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 495px;
    margin-left: 2%;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}

.contact-1{
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    line-height: 0px;
    font-family: 'Helvetica Now', sans-serif;
    color: #272727;
    font-weight: 400;
}

.contact-2{
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    line-height: 0px;
    font-family: 'Helvetica Now', sans-serif;
    color: #272727;
    font-weight: 400;
}